input.ng-invalid.ng-touched {
    border-color: red;

}
input.ng-valid {
    border-color: greenyellow;
}
.green-icon {
    color:greenyellow;
    border-color: greenyellow;
}
.red-icon{
    color: red;
    border-color: red;
}